[submodule "heroicons"]
	path = heroicons
	url = https://github.com/tailwindlabs/heroicons
[submodule "lucide"]
	path = lucide
	url = https://github.com/lucide-icons/lucide
[submodule "fontawesome"]
	path = fontawesome
	url = https://github.com/FortAwesome/Font-Awesome
